<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Connection strings -->
  <connectionStrings>
    <add name="SouthwindEntities" connectionString="metadata=res://*/Southwind.csdl|res://*/Southwind.ssdl|res://*/Southwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=UNICRON\SQLEXPRESS;Initial Catalog=Southwind;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>